a:hover {
  color: rgb(9, 90, 251);
}

.container_1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.bilde1 {
    width: 60px;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.left *, .right *  {
    padding: 0px 10px
}

.signin {
    background-color: rgb(0, 106, 255);
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.container_2 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.container_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(222, 219, 219);
    margin: 0px 23%;
    border-radius: 30px;
    margin-top: 30px;
}

.mag {
    width: 30px;
    padding-left: 10px;
}

.mic {
    width: 20px;
    padding-right: 20px;
}

.inp {
    border: none;
}

.container_4 {
    display: flex;
    justify-content: space-around;
    align-content: center; 
    margin-top: 30px;
    margin-left: 15px;
}

.container-5 {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.search {
    background-color: rgb(227, 230, 233);
    color: black;
    padding: 5px; 
    border-radius: 10px;

}

.lucky {
    background-color: rgb(227, 230, 233);
    color: black;
    padding: 5px; 
    border-radius: 10px;
}

.container-6 {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.eng a {
justify-content: center;
text-decoration: underline;
color: rgb(9, 90, 251);
}

.container-7 {
    display: flex;
    background-color: rgb(227, 230, 233);
    color: black;
    border-bottom: 1px solid darkgray;
    margin-top: 270px;
}

.container-8 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(227, 230, 233);
    color: black;
}

.left2 {
    display: flex;
}

.right2 {
    display: flex;
}

.left2 *, .right2 *  {
    padding: 0px 10px
}