.container {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 35%;
}

p {
    color: white;
}

b {
    color: white;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
}

body {
    background-image: url(images/back.jpg);
}

#input1, #input2, #input3 {
    width: 90%;
    height: 30px;
    align-self: center;
}

.flix {
    color: red;
}

button {
    color: white;
    width: 70px;
    /* text-align: center; */
    align-self: center;
    background-color: red;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 40px 10px 13px;
}

.select {
    width: 90%;
    height: 35px;
    align-self: center;
}
#c1, #c2, #c3 {
    display: inline;
    
}

textarea {
    width: 90%;
    align-self: center;
}

.container-5 {
    display: flex;
    align-items: center;
    justify-content: center;
}